.f-1 {
  font-size: .0625rem;
}

.f-2 {
  font-size: .125rem;
}

.f-3 {
  font-size: .1875rem;
}

.f-4 {
  font-size: .25rem;
}

.f-5 {
  font-size: .3125rem;
}

.f-6 {
  font-size: .375rem;
}

.f-7 {
  font-size: .4375rem;
}

.f-8 {
  font-size: .5rem;
}

.f-9 {
  font-size: .5625rem;
}

.f-10 {
  font-size: .625rem;
}

.f-11 {
  font-size: .6875rem;
}

.f-12 {
  font-size: .75rem;
}

.f-13 {
  font-size: .8125rem;
}

.f-14 {
  font-size: .875rem;
}

.f-15 {
  font-size: .9375rem;
}

.f-16 {
  font-size: 1rem;
}

.f-17 {
  font-size: 1.0625rem;
}

.f-18 {
  font-size: 1.125rem;
}

.f-19 {
  font-size: 1.1875rem;
}

.f-20 {
  font-size: 1.25rem;
}

.f-21 {
  font-size: 1.3125rem;
}

.f-22 {
  font-size: 1.375rem;
}

.f-23 {
  font-size: 1.4375rem;
}

.f-24 {
  font-size: 1.5rem;
}

.f-25 {
  font-size: 1.5625rem;
}

.f-26 {
  font-size: 1.625rem;
}

.f-27 {
  font-size: 1.6875rem;
}

.f-28 {
  font-size: 1.75rem;
}

.f-29 {
  font-size: 1.8125rem;
}

.f-30 {
  font-size: 1.875rem;
}

.f-31 {
  font-size: 1.9375rem;
}

.f-32 {
  font-size: 2rem;
}

.f-33 {
  font-size: 2.0625rem;
}

.f-34 {
  font-size: 2.125rem;
}

.f-35 {
  font-size: 2.1875rem;
}

.f-36 {
  font-size: 2.25rem;
}

.f-37 {
  font-size: 2.3125rem;
}

.f-38 {
  font-size: 2.375rem;
}

.f-39 {
  font-size: 2.4375rem;
}

.f-40 {
  font-size: 2.5rem;
}

.f-41 {
  font-size: 2.5625rem;
}

.f-42 {
  font-size: 2.625rem;
}

.f-43 {
  font-size: 2.6875rem;
}

.f-44 {
  font-size: 2.75rem;
}

.f-45 {
  font-size: 2.8125rem;
}

.f-46 {
  font-size: 2.875rem;
}

.f-47 {
  font-size: 2.9375rem;
}

.f-48 {
  font-size: 3rem;
}

.f-49 {
  font-size: 3.0625rem;
}

.f-50 {
  font-size: 3.125rem;
}

.f-51 {
  font-size: 3.1875rem;
}

.f-52 {
  font-size: 3.25rem;
}

.f-53 {
  font-size: 3.3125rem;
}

.f-54 {
  font-size: 3.375rem;
}

.f-55 {
  font-size: 3.4375rem;
}

.f-56 {
  font-size: 3.5rem;
}

.f-57 {
  font-size: 3.5625rem;
}

.f-58 {
  font-size: 3.625rem;
}

.f-59 {
  font-size: 3.6875rem;
}

.f-60 {
  font-size: 3.75rem;
}

.f-61 {
  font-size: 3.8125rem;
}

.f-62 {
  font-size: 3.875rem;
}

.f-63 {
  font-size: 3.9375rem;
}

.f-64 {
  font-size: 4rem;
}

.f-65 {
  font-size: 4.0625rem;
}

.f-66 {
  font-size: 4.125rem;
}

.f-67 {
  font-size: 4.1875rem;
}

.f-68 {
  font-size: 4.25rem;
}

.f-69 {
  font-size: 4.3125rem;
}

.f-70 {
  font-size: 4.375rem;
}

.f-71 {
  font-size: 4.4375rem;
}

.f-72 {
  font-size: 4.5rem;
}

.f-73 {
  font-size: 4.5625rem;
}

.f-74 {
  font-size: 4.625rem;
}

.f-75 {
  font-size: 4.6875rem;
}

.f-76 {
  font-size: 4.75rem;
}

.f-77 {
  font-size: 4.8125rem;
}

.f-78 {
  font-size: 4.875rem;
}

.f-79 {
  font-size: 4.9375rem;
}

.f-80 {
  font-size: 5rem;
}

.f-81 {
  font-size: 5.0625rem;
}

.f-82 {
  font-size: 5.125rem;
}

.f-83 {
  font-size: 5.1875rem;
}

.f-84 {
  font-size: 5.25rem;
}

.f-85 {
  font-size: 5.3125rem;
}

.f-86 {
  font-size: 5.375rem;
}

.f-87 {
  font-size: 5.4375rem;
}

.f-88 {
  font-size: 5.5rem;
}

.f-89 {
  font-size: 5.5625rem;
}

.f-90 {
  font-size: 5.625rem;
}

.f-91 {
  font-size: 5.6875rem;
}

.f-92 {
  font-size: 5.75rem;
}

.f-93 {
  font-size: 5.8125rem;
}

.f-94 {
  font-size: 5.875rem;
}

.f-95 {
  font-size: 5.9375rem;
}

.f-96 {
  font-size: 6rem;
}

.f-97 {
  font-size: 6.0625rem;
}

.f-98 {
  font-size: 6.125rem;
}

.f-99 {
  font-size: 6.1875rem;
}

.f-100 {
  font-size: 6.25rem;
}
